@using Fuurkanjpg.Models.Siniflar
@model List<Fotolar>

<section class="w3-gallery py-5">
    <div class="container py-md-5">
        <ul class="portfolio-area clearfix p-0 m-0">
            @foreach (var x in Model)
            {
                <li class="portfolio-item2 content" data-id="id-1" data-type="cat-item-1">
                    <span class="image-block">

                        <a class="image-zoom" href="@x.FotoUrl" data-gal="prettyPhoto[gallery]">
                            <div class="content-overlay"></div>
                            <img src="@x.FotoUrl" class="img-fluid w3layouts agileits" alt="portfolio-img">
                            <div class="content-details fadeIn-bottom">
                                <h3 class="content-title">@x.Baslik</h3>

                            </div>
                        </a>
                    </span>
                </li>
            }
        </ul>
        <!--end portfolio-area -->
    </div>
    <!-- //gallery container -->
</section>